@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

body {
  background: rgba(53, 103, 30,	1);
}

.computerSide, .playerSide {
  height: calc((100vh - 140px) / 2);
  border: dotted 5px blueviolet;
}

.midTable {
  display: flex;
  justify-content: space-between;
  width: 95vw;
  margin: 0 auto;
}

.playerButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin-left: 1vw; */
}

/* =========== CARDS ============== */

.computerCards, .playerCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: calc(90vw - 90px);
}
.computerCards {
  /* position: relative; */
  top: 3vh;
  left: 3vw;
  border: solid 3px red;
}

.playerCards {
  border: solid 3px black;
  /* position: absolute; */
}

.card {
  width: 85px;
  height: 140px;
  background: white;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  background: rgba(201, 74, 74, 0.781);
}

.red {
  color: red;
}

/* ================ GAME SCORE ================== */
.gameScoreContainer, .handValueContainer {
  position: absolute;
  display: inline-block;
  right: 2vw;
  border: chocolate dotted 2px;
}

.gameScoreContainer {
  top: 2vh;
}

.handValueContainer {
  bottom: 4vh;
}

.gameScore, .handValue {
  display: flex;
  align-items: center;
  align-content: center;
  background: white;
}

.gameScoreContainer h2, .handValueContainer h2 {
  font-size: 0.8rem;
  background: black;
  color: white;
}

.computerScore h3, .computerHandValue h3 {
  font-size: 0.65rem;
}
.playerScore h3, .playerHandValue h3 {
  font-size: 0.7rem;
}

.computerScore, .playerScore, .playerHandValue, .computerHandValue {
  margin-right: 0.7rem;
}